---
import meImage from "../assets/me2.jpeg";
import frontStampCard from "../assets/frontstampcard.png";
import backStampCard from "../assets/backstampcard.png";
import "./About.css";
---

<div class="about-page">
    <div class="cyber-hearts">
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
        <div class="heart">♥</div>
    </div>
    <div class="about-container">
        <div class="about-content">
            <div class="about-text">
                <h1>hi! i'm adishree das!</h1>
                <p>
                    I'm a highschool junior passionate about using technology & business for societal impact! I hope to make tech/STEM more accessible for all regardless of gender, physical ability, etc.
                    My interests include technology (especially artificial intelligence and human-computer interaction), business/entrepreneurship, behavioral science, and UI/UX design.
                    For fun, I spend my time coding
                    <a href="/projects" class="underline">personal projects</a>
                    , going on lots of 
                    <a href="/experiences" class="underline">side quests</a>
                    , running, reading, and watching Netflix!
                </p>
                <div class="typing-text">
                    <span class="typing-label">fun fact: </span><span class="auto-type"></span>
                </div>
            </div>
            <div class="about-image">
                <img class="me" src={meImage.src} alt="photo of me!">
                <button class="achievements-link" id="achievements-btn">
                    see some of my achievements/honors
                </button>
            </div>
        </div>
    </div>
    
    <!-- Popup Modal for Stamp Card -->
    <div class="popup-overlay" id="popup-overlay">
        <div class="popup-content">
            <button class="popup-close" id="popup-close">&times;</button>
            <div class="stamp-card-flip" id="stamp-card-flip">
                <div class="stamp-card-front">
                    <img src={backStampCard.src} alt="Front Stamp Card" class="stamp-card-image">
                </div>
                <div class="stamp-card-back">
                    <img src={frontStampCard.src} alt="Achievements and Honors" class="stamp-card-image">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    import "./About.js";
</script>