---
import "./Projects.css";
import bg1 from '../assets/bg2.jpeg';
---

<div class="projects-section" id="projects">
    <div class="cyberImage">
        <img src={bg1.src} alt="cyber background"> 
        <h1>my projects</h1>
    </div>
    <div class="projectImages">
        <img alt="PetalPal">
        <img alt="Soliss">
        <img alt="Stampd">
        <img alt="Lookaluxe">
        <img alt="Voctab">
        <img alt="EchoAI">    
        <img alt="Lighter">
        <img alt="Ovra">
        <img alt="Beyond The Box">
        <img alt="Stemiverse">
        <img alt="Skinfluence LI">
        <img alt="Sustainabite">
        <img alt="Techfluences CTF Bot">
        <img alt="Google iOS Accessibility">
        <img alt="Echo">
        <img alt="Sea The Change">
        <img alt="The Dialectic">
        <img alt="Techfluences">
        <img alt="Frostly Delights">
        <img alt="Planetopia">
        <img alt="Flickflow">
        <img alt="Skyglider">
    </div>
    //other stuff: gwc sustainaiility thing, nyjos research, rutgers research, gtech research, khan academty vid thing, etc
    //experiences: Google Launch, Daydream, Google CodeNext, Cornell HS, LLS, Techfluences, Rutgers, GTech, Parthenon, Ascend, THLI, PennApps, Marathon, GWC, NCWIT
    //see more official qualifications/experience on resume (internships, volunteering, research, awards, leadership)
</div>